[submodule "lib/capstone"]
	path = lib/capstone
	url = https://github.com/capstone-engine/capstone
	branch = next
[submodule "lib/keystone"]
	path = lib/keystone
	url = https://github.com/altalk23/keystone
	branch = altalk23-patch-1
